*,:after,:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.jw-tpk-container {
	position: absolute;
	width: 450px;
	height: 200px;
	padding: 0;
	background: #fff;
	font-family: inherit;
	font-weight: 400;
	overflow: hidden;
	box-sizing: border-box;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1rem;
	font-size: 1rem;
}
.jw-tpk-container: after{
	content: " ";
	display: block;
	clear: both;
}
.jw-tpk-container *, .jw-tpk-container :after, .jw-tpk-container :before {
	box-sizing: border-box;
}
.jw-tpk-container *, .jw-tpk-container .active, .jw-tpk-container :focus, .jw-tpk-container :hover {
	text-decoration: none;
	outline: none;
}
.jw-tpk-container .jw-tpk-dragging {
	opacity: .85!important;
}
.jw-tpk-container .jw-tpk-dragging .jw-tpk-header {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
.jw-tpk-container ol {
	text-align: center;
	list-style-type: none;
}
.jw-tpk-container ol>li {
	display: inline-block;
}
.jw-tpk-container ol>li>a {
	display: inline-block;
	padding: 3px 0;
	width: 25px;
	color: inherit;
	border: 1px solid transparent;
	font-size: .875rem;
}
.jw-tpk-container ol>li>a:not(.jw-tpk-selected):hover {
	cursor: pointer;
	border: 1px solid #ccc;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: #f5f5f5;
	background: -webkit-linear-gradient(#e6e6e6,#f5f5f5);
	background: linear-gradient(#e6e6e6,#f5f5f5);
	box-shadow: 0 2px 3px hsla(0,0%,86%,.8);
}
.jw-tpk-header {
	position: relative;
	font-weight: 600;
	text-align: center;
	cursor: -webkit-grab;
	cursor: grab;
	line-height: 1.875rem;
}
.jw-tpk-header:after, .jw-tpk-header:before {
	content: "";
	display: table;
}
.jw-tpk-header:after {
	clear:both;
}
.jw-tpk-body {
	padding: 12px 0px 2px 0px;
}
.jw-tpk-body:after, .jw-tpk-body:before {
	content: "";
	display: table;
}
.jw-tpk-body:after {
	clear:both;
}
.jw-tpk-hour {
	width: 34%;
	float: left;
	margin-right: 2%;
}
.jw-tpk-minute {
	width: 64%;
	float: right;
	margin-right: 0;
}
.jw-tpk-dark {
	color: #212121;
	box-shadow: inset 0 0 0 1px #212121;
}
.jw-tpk-dark .jw-tpk-header, .jw-tpk-dark ol>li>a.jw-tpk-selected {
	color: #f5f5f5;
	background: -webkit-linear-gradient(#212121,#545454);
	background: linear-gradient(#212121,#545454);
}
.jw-tpk-blue-grey {
	color: #263238;
	box-shadow: inset 0 0 0 1px #263238;
}
.jw-tpk-blue-grey .jw-tpk-header, .jw-tpk-blue-grey ol>li>a.jw-tpk-selected {
	color: #cfd8dc;
	background: -webkit-linear-gradient(#263238,#4f6875);
	background: linear-gradient(#263238,#4f6875);
}